body{
  padding:20px;
}
#teamZ{
    margin:0 auto;
    border:1px solid #999;
    background:#eee;
    padding:20px;
    overflow: auto;
    min-width: 600px;

}
#teamname{
    border:1px solid #999;
    width: 200px;
    background:white;
    margin-top:20px ;
    margin-left: 20px;
    float:left;
    overflow: auto;
}
p.team{
 /*   margin-left: 100px;
    margin-top:-100px;*/
    width: 80px;
    float:right;

}
#teamintro{
    border:1px solid #999;
    background:white;
    margin-left: 260px;
    margin-right: 230px;
    margin-top: 20px;
    padding:20px 20px;

}
#teampic{
    border:1px solid #999;
    width:120px;
    margin: 20px 20px;
    background:white;
    padding:20px 20px;
    float:right;
}

img.img{
    margin:20px 20px;

}
.clear{clear:both;}